<% provide(:title, "About") %>

<div class="container">
    <div class="banner">
        <div class="bg-image">
            <%= image_tag @img %>
        </div>
        <h1 class="text-content page-title">About</h1>
    </div>
    <h4>When preparing for tournaments, the Grinnell Frisbee teams always gather a roster of players so they have an idea of who will show up.</h4>
    <div class="text-content">
        <h5>In the past, this has been done by having the players fill out a spreadsheet or a Google Form.</h5>
    </div>
    <br/>
    <h4>With this website, now players can register themselves under specific teams for the captains to have a clean list of players!</h4>
    <div class="text-content">
        <h5>In addition, this website can allow for captains to generate field-lineups, either randomly or manually (this feature has not been implemented yet).</h5>
    </div>
    <br/><br/><br/><br/>
    <p>All images used in banners are from the Grinnell College official website.</p>
</div>