<% provide(:title, "Contact") %>

<div class="container">
    <div class="banner">
        <h1 class="text-content">Contact</h1>
        <div class="bg-image">
            <%= image_tag @img %>
        </div>
    </div>
    <div class="text-content">
        <p>This is the contact page!</p>
    </div>
</div>
