<% provide(:title, "Contact") %>

<div class="container">
    <div class="jumbotron">
        <h1>Contact</h1>
        <%= image_tag @img %>
    </div>
    <div class="text-content">
        <p>This is the contact page!</p>
    </div>
</div>
