<% provide(:title, "Home") %>

<%# <div class="container">
    <div class="banner">
        <div class="bg-image">
            <%= image_tag @img %>
<%#      </div>
        <h1 class="text-content page-title">Grinnell Ultimate Frisbee</h1>
    </div>
    <div class="text-content">
        <p>This is the home page!</p>
    </div>
</div> %>

<div class="container">

    <div class="page-title" >
        <h1 style="font-size: 150%">Grinnell Ultimate Frisbee</h1>
        <h2> Tournament registration system </h2>
    </div>

    <div class="home-info">
            <div class="text-content">
                <h2 style= "font-style: italic;"> Captains: </h2> 
                <h4> Your name should be in the system!</h4>
                <h5> (if not, you can use the Contact form to get in touch! ) </h5>
            </div>
            <br/>
            <div class="text-content">
                <h2 style="font-style: italic;"> Players: </h2> 
                <h4> Go to the Roster page and register under your captain! </h4>
            </div>
    </div>

</div> 