<% provide(:title, "Home") %>

<div class="container">
    <div class="banner">
        <h1 class="text-content page-title">Homepage</h1>
        <div class="bg-image">
            <%= image_tag @img %>
        </div>
    </div>
    <div class="text-content">
        <p>This is the home page!</p>
    </div>
</div>
