<% provide(:title, "Home") %>

<div class="container">
    <div class="jumbotron">
        <h1>Homepage</h1>
        <%= image_tag @img %>
    </div>
    <div class="text-content">
        <p>This is the home page!</p>
    </div>
</div>
