// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//
//
//
// Define styles for Player form:
label {
    font-size: larger;
    margin-right: 5px;
}

input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 50px 0px 0px !important;
}

input[type=submit] {
    margin-left: 10px;
}

//change Bootstrap alert banner
.alert-danger {
    background-color: #ff7979 !important;
    color: black !important;
    border-color: #ff7979 !important;
}