<footer class="footer ">
    <h4>Grinnell Ultimate Frisbee</h4>
    <ul>
        <li><h4>Contact</h4></li>
        <li><a href="mailto: frisbee@grinnell.edu">Contact Open Team</a></li>
        <li><a href="mailto: stickies@grinnell.edu">Contact Women's Team</a></li>
        <li><a href="mailto: shinjona@grinnell.edu">Contact Developer</a></li>
    </ul>
    <ul class="footer-list">
        <li><h4>Social Media</h4></li>
        <li><a href="https://twitter.com/grinnellephants?lang=en" target="_blank">Open Team Twitter</a></li>
        <li><a href="https://twitter.com/GSvelts" target="_blank">Women's Team Twitter</a></li>
    </ul>
</footer>