<header class="navbar navbar-fixed-top navbar-light bg-primary">
    <nav>
      <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Contact", "/contact" %></li>
            <li><%= link_to "About", "/about" %></li>
        </ul>
    </nav>
</header>